body{
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: center;
  .caption{
    width: 50vw;
    color: white;
    font-size: 30px;
    font-weight: 600;
    //background-color: #333333;
    //text-align: center;
  }
}